[Unit]
Description = packman daemon
After=network-online.target rauc.service
Wants=network-online.target


[Service]
ExecStart = "python3 -m updaterd"
Restart = always
Type = fork

[Install]
WantedBy = multi-user.target


